* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    padding: 1em;
    padding-top: 0;
}.body{
    flex-direction: column;
}

header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px;
}

main {
    flex: 1;
    justify-content: space-around;
    gap: 1em;
    padding: 3em;
}

.header-right {
    align-items: center;
    gap: 1em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    padding: 20px;
    padding-top: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1;
    min-height: 70vh;
}

h1 {
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    height: fit-content;
    padding: 10px 15px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li:hover {
    border: dashed 1px;
}

li button {
    background: #dc3545;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 30px;
    border-radius: 5px;
}

li button:hover {
    background: #c82333;
}

.flex {
    display: flex;
}